@import "./breakpoints";

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

button {
	@include desktop {
		transition: all 200ms ease-in-out;
		cursor: pointer;
		&:hover {
			opacity: 0.8;
		}
	}
}
